.link {
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    line-height: 3em;
    font-weight: 700;
}

.connect {
    margin-left: 1em;
    margin-right: 1em;
}

.search {
    width: 400px;
}

.phone_only {
    display: none;
}

@media screen and (max-width: 600px) {
    .hide {
        display: none;
    }
    .link {
        width: 100%;
        display: none;
    }

    .phone_only {
        display: block;
    }

    .search {
        width: 100%;
    }

}