.link {
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    line-height: 3em;
    font-weight: 700;
}

.connect {
    margin-left: 1em;
    margin-right: 1em;
}

.search {
    width: 400px;
}

.phone_only {
    display: none;
}

.tablet_only {
    display: none;
}

.desktop_only {
    display: none;
}

.search_bg {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.hide_lg {
    display: none;
}

/*- Mobile Screen */
@media screen and (max-width: 740px) {

    .phone_only {
        display: flex;
    }

    .search {
        width: 100%;
    }

    .hide_mobile {
        display: none;
    }


}



/*- Tablet Screen */
@media screen and (max-width: 900px) {

    .hide_tablet {
        display: none;
    }

    .tablet_only {
        display: flex;
    }

}


/*- Smaill Desktop Screen */
@media screen and (max-width: 1200px) {

    .hide {
        display: none;
    }

    .hide_lg {
        display: flex;
    }

    .link {
        width: 100%;
        display: none;
    }

    .desktop_only {
        display: flex;
    }

}